version: '3'
services:
  mission-manager:
    image: mission-manager
    container_name: mission-manager
    build: .
    ports:
      - "14550:14550/udp"
      - "9092:9092"
  sitl:
    image: wnt3rmute/ardupilot-sitl
    network_mode: "host"
    stdin_open: true
    tty: true
    volumes:
      - "/run/user/1000/.mutter-Xwaylandauth.51D0B2:/home/akl/.Xauthority:rw" # adjust for your pc
    environment:
      - DISPLAY
    command: ./sim_vehicle.py -v ArduCopter -N  # Possible options: --console, --map, -L <location>
